.featured-products {
  background-color: #ff9c9c2e;
  border-radius: 25px;
  box-shadow: inset 0px 0px 10px #fff, inset 0px 0px 20px #fff,
    inset 0px 0px 40px #fff, inset 0px 0px 80px #fff;
}

.featured-products__titel {
  padding: 2vw;
}
.featured-products__content {
  padding: 1vw;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
